.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* default list style css */
ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

/* main footer css */
#primary-footer {
  background-color: #edf7fa;
}

.footer-widget-area {
  padding: 50px 0;
}

/* main footer inner css */

.footer-widget-area p {
  font-size: 20px;
}

.footer-widget-area li {
  margin-top: 10px;
}

.footer-widget-area li a {
  font-size: 20px;
  color: var(--black);
}

.footer-widget-area li a:hover {
  text-decoration: none;
  color: #00d07e;
}

.footer-widget-heading h4 {
  font-weight: bold;
  font-size: 25px;
}

.linkediting .fa {
  color: #21bf73;
}

.footer-social-icon .social-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.circle-icon {
  background: #ccf6c8;
  color: #21bf73;
  padding: 12px;
  border-radius: 50%;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

/* footer credit css */

.copyright-area {
  background-color: #edf7fa;
  padding: 20px 0;
}

.copyright-text p {
  font-size: 18px;
}

.copyright-text a {
  color: #21bf73;
  font-weight: 600;
}

.footer-menus li {
  display: inline-flex;
  margin-left: 20px;
}

.footer-menus li a {
  font-size: 18px;
  color: var(--black);
}

/*media quries*/

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .footer-social-icon span {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .copyright-text p {
    text-align: center;
  }

  .footer-menus ul {
    text-align: center;
  }

  .footer-social-icon span {
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .footer-widget-area {
    padding: 0 20px;
  }

  .copyright-text p {
    text-align: center;
    font-size: 16px;
  }

  .footer-menus ul {
    text-align: center;
  }

  .footer-menus ul li a {
    font-size: 16px;
  }
}

.nav-link {
  color: black;
  font-size: 17px;
}

a:hover nav-link {
  background-color: darkgreen;
}

.navbar-brand {
  color: darkgreen;
  font-size: 30px;
}
/*text*/
.h {
  text-align: center;
  margin-top: 25px;
  color: darkgreen;
}

.h2 {
  text-align: center;
  color: darkgreen;
}
/*text*/

/*button start*/
.button {
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 2px;
  cursor: pointer;
  background-color: rgb(3, 112, 67);
}
/*button end */

.heading {
  text-align: center;
  font-weight: 600;
}

.fetured {
  color: #00d07e;
  border-radius: 30px;
  height: 350px;
  width: 80%;
  
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px grey;

}

.line {
  width: 20%;
  text-align: center;
  background-color: red;
  height: 1px;
  margin-top: -5px;
}

@media screen and (max-width: 800px) {
  .fetured {
    box-shadow: black;
    height: 430px;
    width: 80%;
    
    margin-bottom: 10px;
    margin-left: 35px;
    border-radius: none;
  }
}

.nav-link:hover {
  color: green;
  border-bottom: 2px solid green;
}

.box{
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 100px;
  margin-top: 5px;
}
.box:hover {
  color: green;
  
}
